<div class="flex flex-col h-[100dvh] relative">
  
  <div class="absolute top-4 left-0 right-0 z-[1000] px-4 flex justify-center pointer-events-none">
    <div class="bg-white p-4 rounded-xl shadow-lg w-full max-w-md pointer-events-auto">
      <div class="flex items-center gap-3">
        <div class="bg-gray-100 p-2 rounded-full text-brand-green">
           <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-6 h-6">
             <path fill-rule="evenodd" d="M11.54 22.351l.07.04.028.016a.76.76 0 00.723 0l.028-.015.071-.041a16.975 16.975 0 001.144-.742 19.58 19.58 0 002.683-2.282c1.944-1.99 3.963-4.98 3.963-8.827a8.25 8.25 0 00-16.5 0c0 3.846 2.02 6.837 3.963 8.827a19.58 19.58 0 002.682 2.282 16.975 16.975 0 001.145.742zM12 13.5a3 3 0 100-6 3 3 0 000 6z" clip-rule="evenodd" />
           </svg>
        </div>
        <div>
          <h1 class="font-bold text-gray-800 text-base leading-tight">Confirma tu ubicación</h1>
          <p class="text-xs text-gray-500 mt-0.5">Mueve el pin rojo a tu puerta</p>
        </div>
      </div>
    </div>
  </div>

  <div id="map" class="w-full h-full z-0"></div>

  <div class="absolute bottom-6 left-0 right-0 z-[1000] px-6 flex justify-center pointer-events-none">
    <button (click)="confirmarUbicacion()" class="w-full max-w-md bg-brand-green text-white font-bold py-3.5 rounded-xl shadow-xl pointer-events-auto transform active:scale-95 transition-transform">
      Confirmar Dirección
    </button>
  </div>
</div>