<div class="flex flex-col h-[100dvh] bg-white items-center justify-center p-6 text-center relative">
  
  <div class="w-32 h-32 bg-brand-green rounded-full flex items-center justify-center mb-6 shadow-xl animate-bounce">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="4" stroke="currentColor" class="w-16 h-16 text-white">
      <path stroke-linecap="round" stroke-linejoin="round" d="M4.5 12.75l6 6 9-13.5" />
    </svg>
  </div>

  <h2 class="text-2xl font-bold text-gray-800 mb-2">¡Pago Exitoso!</h2>
  <p class="text-gray-500 max-w-xs">
    Su pago fue realizado exitosamente. Por favor envíe su ubicación para el delivery.
  </p>

  <div class="absolute bottom-8 w-full px-6">
    <button routerLink="/mapa" class="w-full bg-brand-green text-white font-bold py-3 rounded-xl shadow-lg">
      Mandar Ubicación
    </button>
  </div>
</div>