@import 'leaflet/dist/leaflet.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #F5F5F5;
  font-family: 'Roboto', sans-serif; /* O la fuente que uses en Figma */
}

.leaflet-bottom {
  bottom: 90px !important; /* Ajusta este valor si tu botón es más alto */
}

/* Opcional: Si quieres que el zoom se vea un poco más grande en celular */
.leaflet-touch .leaflet-bar a {
  width: 34px;
  height: 34px;
  line-height: 34px;
}